.footer-widget {
    margin-bottom: 50px;

    &,
    .widget {
        padding: 0;
        border: none;
        padding-bottom: 0;
        background-color: transparent;
        box-shadow: none;
    }

    .form-group {
        >i {
            color: $theme-color;
            top: 18px;
        }
    }

    .sidebar-gallery {
        gap: 14px; 

        .gallery-thumb {
            min-width: 120px;

            @include lg {
                width: 100%;
            }

            img {
                width: 120px;
                object-fit: cover;

                @include lg {
                    width: 100%;
                }
            }
        }
    }

    .widget_title {
        max-width: 270px;
        color: $white-color;
        margin: -0.11em 0 35px 0; 
        padding: 0 0 18px 0;

        &:before,
        &:after {
            content: '';
            position: absolute;
            left: 0;
            bottom: 0;
            width: 75px;
            height: 2px;
            background-color: $theme-color;
        }

        &:after {
            width: 16px;
            border: 2px solid #0E121D;
            height: 10px;
            background-color: transparent;
            bottom: -3px;
            left: 40px;
            animation: footerLine 7s linear infinite;
        }
    }

    &.widget_meta,
    &.widget_pages,
    &.widget_archive,
    &.widget_categories,
    &.widget_nav_menu {
        ul {
            margin-top: -4px;
        }

        .menu,
        >ul {
            margin-bottom: -4px;
        }

        a {
            font-size: 16px;
            font-weight: 400;
            padding: 0;
            // padding: 0 0 0 20px;
            margin-bottom: 21px;
            font-family: $body-font;
            color: #888C97;
            display: block;
            max-width: 100%;
            width: max-content;
            padding: 0 0 0 20px;
            background-color: transparent;
            border-bottom: none;
            position: relative;

            &:before {
                content: "\f061";
                position: absolute;
                font-weight: 600;
                left: 0;
                top: 2px;
                font-family: $icon-font;
                transform: translateY(0);
                font-size: 0.9em;
                background-color: transparent;
                border: none;
                color: inherit;
            }

            &:hover {
                background-color: transparent;
                color: $theme-color;
                box-shadow: none; 

                &:before {
                    color: $theme-color;
                }
            }
        }

        li {
            >span {
                @include equal-size(auto);
                position: relative;
                background-color: transparent;
                color: $body-color;
                line-height: 1;
            }

            &:last-child {
                a {
                    margin-bottom: 0;
                }
            }
        }
    }

    .recent-post {
        max-width: 300px;
        margin-top: -0.4em;
        margin-bottom: 20px;

        .media-img {
            max-width: 74px;

            &:after {
                line-height: 74px;
            }
        }

        .post-title {
            color: $white-color;
            font-weight: 500;
        }

        &:last-child {
            margin-bottom: 0;
            padding-bottom: 0;
            border-bottom: 0;
        }

        .recent-post-meta {
            a {
                font-weight: 400;
                line-height: 1.2;
            }

            i {
                color: $theme-color;
            }

            a:hover {
                i {
                    color: $theme-color;
                }
            }
        }
    }
}

.about-logo {
    margin-bottom: 15px;
}

.th-widget-about {
    .th-widget-contact {
        &.style2 {
            .footer-info {  
                &-title {
                    margin-bottom: 3px;
                }
            }
        }
    }
   
    .about-logo {
        margin-bottom: 40px;
    }

    .about-text {
        color: #888C97;
        margin-bottom: 30px;
        margin-top: -0.5em;
    }

    .footer-info {
        position: relative;
        display: flex;
        flex: 1;
        color: #888C97;
        line-height: 26px;
        padding: 0 0 0 35px;
        max-width: 277px;
        margin-top: 0; 

        &:not(:last-child) {
            margin: 0 0 35px 0;
        }

        i {
            display: inline-block;
            width: 26px;
            height: 26px;
            line-height: 26px;
            text-align: center;
            background-color: var(--theme-color);
            color: $white-color;
            position: absolute;
            left: 0;
            font-size: 10px;
        }

        &-title {
            font-size: 18px;
            font-family: $title-font;
            font-weight: 600;
            text-transform: capitalize;
            color: $white-color;
            margin-bottom: 5px; 
            margin-top: -0.2em;
        }
    }

}

.footer-text {
    margin-top: -0.5em;
    margin-bottom: 25px;
}

.social-box {
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    .social-title {
        font-size: 20px;
        color: $white-color;
        font-weight: 600;
        margin-right: 20px;
        margin-bottom: 0;
    }
}

.icon-group {
    a {
        color: $white-color;
        font-size: 18px;
        margin-right: 17px;

        &:last-child {
            margin-right: 0;
        }
    }
}


@include lg {
    .footer-widget {

        &.widget_meta,
        &.widget_pages,
        &.widget_archive,
        &.widget_categories,
        &.widget_nav_menu {
            a {
                margin-bottom: 16px;
            }

        }
    }
}

@include sm {
    .footer-widget {
        .widget_title {
            margin-bottom: 35px;
        }
    }

    .th-widget-about .about-text {
        margin-bottom: 20px;
        ;
    }

    .social-box.mb-30 {
        margin-bottom: 25px;
    }
}