.breadcumb-menu {
    max-width: 100%;
    padding: 0;
    margin: 25px 0 -0.5em 0;
    list-style-type: none;
    position: relative;

    li {
        display: inline-block;
        margin-right: 3px;
        padding-right: 3px;
        list-style: none;
        position: relative;

        &:after {
            content: "/";
            position: relative;
            margin-left: 6px;
            font-weight: 500;
            font-size: 15px;
            color: inherit;
            font-family: $icon-font;
        }

        &:last-child {
            padding-right: 0;
            margin-right: 0;
            color: $theme-color;

            &:after {
                display: none;
            }
        }
    }

    li,
    a,
    span {
        white-space: normal;
        word-break: break-word;
        font-family: $title-font;
        font-weight: 600;
        font-size: 18px;
        line-height: 28px;
        color: $theme-color;
    }
}

.breadcumb-title {
    margin: -0.18em 0 -0.18em 0;
    font-size: 54px;
    font-family: $title-font;
    color: $white-color;
    line-height: 64px;
    font-weight: 700;
    text-transform: capitalize; 
}

.breadcumb-wrapper {
    background-color: $title-color;
    background-position: bottom center;
    padding: 181px 0;
    overflow: hidden;
}

@include lg {
    .breadcumb-wrapper {
        padding: 150px 0;
    }

    .breadcumb-title {
        margin: -0.18em 0 -0.18em 0;
    }

    .breadcumb-menu {

        li,
        a,
        span {
            font-size: 16px;
            line-height: 26px;
        }
    }
}

@include md {
    .breadcumb-wrapper {
        padding: 130px 0; 
    }
}


@include xs {
    .breadcumb-wrapper {
        padding: 130px 0;
    }

    .breadcumb-title {
        font-size: 44px;
        line-height: 54px;
    }
}

@include vxs {
    .breadcumb-wrapper {
        padding: 120px 0;
    }

    .breadcumb-title {
        font-size: 34px;
        line-height: 44px;
    }

    .breadcumb-menu {
        margin: 15px 0 -0.5em 0;
    }
}