//---------------------------------------
.cta-area3 {
    max-width: 1720px;
    display: block;
    margin: auto; 
}




.consultation-sec {
    background-size: auto;
    background-position: left center;

    @include sm {
        background-position: top center;
        background-size: cover;
    }
}

.consultation-thumb {
    position: absolute;
    top: 0;
    right: 0;

    @include lg {
        display: none;
    }

    img {
        clip-path: path("M771.613 885.353V-253.437H214L0.050415 121.5L426 885.353H771.613Z");
    }

    .shape_1 {
        position: absolute;
        left: -68px;
        top: 0;
        width: 137px;
        height: 120px;
        background-color: $theme-color;
        clip-path: polygon(50% 100%, 0 0, 100% 0);
    }

    .shape_2 {
        position: absolute;
        left: 31px;
        bottom: 81px;
        width: 160px;
        height: 150px;
        background-color: $body-color;
        clip-path: polygon(50% 0%, 0% 100%, 100% 100%);

        @media(min-width: 1930px) {
            left: 75px;
            bottom: 0;
        }
    }
}

.consultation-title-area {
    padding: 120px 0 182px 0;
    max-width: 500px;

    .sec-title {
        letter-spacing: 0;
    }



    @include md {
        padding: 80px 0 140px 0;
    }

    @include sm {
        padding: 80px 0 0 0;
    }
}

.cta-area {
    position: relative;
    padding: 120px 60px 60px 60px;
    border-radius: 30px;
    border: 1px solid $theme-color;

    @include md {
        padding: 80px 20px 60px 20px;
    }
}

.cta-area2 {
    position: relative;
    z-index: 2;
    padding: 80px 0;

    .cta-shape {
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: 3;

        @media(max-width: 1699px) {
            display: none;
        }
    }
}

.cta-sec2 {
    padding: 80px 100px;
    border-radius: 30px;

    @include lg {
        padding: 80px 50px;
    }
}

.cta-area4 {
    padding: 173.5px 0;
    background-attachment: fixed;

    @include md {
        padding: 120px 0;
    }
}

.cta-sec {
    padding: 60px;
    position: relative;
    z-index: 2;

    @include lg {
        padding: 60px 40px;
    }

    @include sm {
        padding: 60px 10px;
    }


    &:before,
    &:after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 56.5%;
        height: 100%;

        @include md {
            left: unset;
            right: 0;
        }

        @include sm {
            display: none;
        }
    }

    &:before {
        background-color: $theme-color;
        clip-path: polygon(0 0, 100% 0%, 95% 100%, 0% 100%);
        z-index: -1;

        @include md {
            clip-path: polygon(0 0, 100% 0, 100% 100%, 7% 100%);
        }
    }

    &:after {
        background-color: rgba(246, 140, 10, 0.3);
        clip-path: polygon(0 0, 94% 0, 100% 100%, 0% 100%);
        z-index: -2;
        left: 7px;

        @include md {
            left: unset;
            right: 0;
            clip-path: polygon(5% 0, 100% 0, 100% 100%, 0 100%);
        }
    }
}

.project-cta {
    border-left: 2px solid $white-color;
    padding-left: 20px;

    &_wrapper {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 80px;

        @include xs {
            display: block;
        }
    }

    .project-title {
        color: $white-color;
        font-weight: 600;
        line-height: 30px;
        margin-bottom: 6px;
    }

    .box-number {
        font-size: 30px;
        font-weight: 600;
        line-height: 40px;
        margin-bottom: 6px;
    }

    .project-text {
        color: $white-color;
        font-size: 16px;
        font-weight: 400;
        line-height: 26px;
        margin-bottom: -0.3rem;
    }
}

.cta-content {
    display: flex;
    justify-content: end;

    @include md {
        justify-content: flex-start;
    }
}

.cta-wrapper {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 22px;

    @media(max-width: 480px) {
        display: block;
    }

    .cta-icon {
        position: relative;
        width: 101px;
        height: 101px;
        line-height: 101px;
        border-radius: 99px;
        text-align: center;
        background: $theme-color;
        z-index: 2;
        transition: all .4s ease-in-out;

        &:after,
        &:before {
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
            background: radial-gradient(59.94% 59.94% at 50% 50%, #F60 0%, rgba(255, 102, 0, 0.00) 100%);
            animation: ripple2 4s linear infinite;
            border-radius: 50%;
            z-index: -1;
            transition: all ease 0.4s;
        }

        &:after {
            animation-delay: 2s;
        }

        @media(max-width: 480px) {
            margin-bottom: 20px;
        }
    }

    .header-info {
        &_label {
            color: $theme-color;
            font-size: 16px;
            font-weight: 400;
            line-height: 26px;
        }

        &_link {
            font-size: 36px;
            font-weight: 700;
            line-height: 46px;
            color: $white-color;
            margin-top: 5px;
            margin-bottom: 0;

            @include xl {
                font-size: 24px;
            }

            a {
                color: inherit;
            }
        }
    }
}

.cta-title {
    border-radius: 100px;
    border: 1px solid #3E66F3;
    background: $white-color;
    padding: 6px 49px;
    margin: -30px 0 65px 0;

    &.sub-title {
        &:before {
            top: 8px;
            left: 25px;
        }

        &:after {
            top: 8px;
            right: 25px;
        }
    }
}

.cta-text {
    font-size: 18px;
    font-weight: 500;
    max-width: 460px;
    display: block;
    margin: auto;
}

.cta-feature {
    &_wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &_img {
        @include md {
            display: none;
        }
    }
}

.cta-title-area {
    max-width: 580px;
    display: block;
    margin: auto;

    @include md {
        max-width: 100%;
    }
}

.feature-area2 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;

    @include xs {
        display: block;

        .th-btn {
            text-align: center;
            display: block;
            margin-bottom: 20px;
        }
    }
}

.feature-wrapper {
    &.style2 {
        justify-content: center;
        gap: 15px;
        margin-bottom: 0;

        .feature-icon {
            border-color: $theme-color;

            &:hover {
                background-color: $theme-color;

                i {
                    color: $white-color;
                }
            }

            i {
                color: $theme-color;
            }
        }

        .header-info {
            &_link {
                color: $theme-color;
                font-size: 18px;
                font-weight: 700;
                letter-spacing: -0.36px;
                margin-bottom: -0.5rem;


                a {
                    color: inherit;
                }
            }

            &_label {
                color: $body-color;

            }
        }
    }
}

.cta-group {
    display: flex;
    gap: 30px;

    @include xl {
        gap: 20px;
    }

    @media(max-width: 480px) {
        display: block;
        margin: auto;
        text-align: center;


    }

    @media(max-width: 425px) {
        .th-btn {
            &:first-child {
                margin-bottom: 15px;
            }
        }
    }
}

.cta-wrap {
    position: relative;
    padding: 60px;
    z-index: 9;

    @include xl {
        padding: 60px 40px;
    }

    @media(max-width: 480px) {
        padding: 40px 40px;
    }

    @include vxs {
        padding: 60px 25px;
    }

    .sub-title {
        text-transform: capitalize;
        margin-bottom: 18px;
    }

    .cta-shape {
        position: absolute;
        top: 0;
        left: 42%;
        z-index: 1;

        @include lg {
            display: none;
        }
    }
}

.cta-form {
    position: relative;

    .form-group {
        margin-bottom: 0;
    }

    .form-control {
        min-width: 400px;
        border-radius: 30px;
        min-height: 60px;
        background-color: $theme-color;
        transition: all 0.3s ease-in-out;

        @include inputPlaceholder {
            color: $white-color;
        }

        @include xs {
            min-width: 100%;
        }


    }

    .th-btn {
        max-width: 183px;
        font-size: 14px;
        line-height: 24px;
        text-transform: uppercase;
        padding: 13px 20px;
        position: absolute;
        top: 5px;
        right: 5px;
        border-radius: 30px;

        @media(max-width: 480px) {
            position: relative;
            max-width: 100%;
            width: 100%;
            right: 0;
        }
    }
}

.offer-card {
    padding: 70px 40px;
    border-radius: 30px;
    background-position: top left;

    @include xs {
        padding: 55px 40px;
        border-radius: 20px;
    }

    @include vxs {
        padding: 40px 20px;
    }

    .box-subtitle {
        font-size: 20px;
        font-weight: 600;
        margin-top: -0.4em;
        margin-bottom: 20px;
        display: block;
    }

    .box-title {
        font-size: 30px;
        line-height: 40px;
        font-weight: 700;
        margin-bottom: 33px;

        @include vxs {
            font-size: 26px;
        }
    }
}

//--------------------------------------------
.offer-box {
    padding: 40px 30px;
    border-radius: 20px;
    background-position: left center;

    .box-subtitle {
        font-size: 14px;
        font-weight: 500;
        text-transform: uppercase;
        line-height: 24px;
        padding: 0 13px;
        margin-bottom: 21px;
        border-radius: 99px;
        display: inline-block;
        background-color: $theme-color;
        color: $white-color;
    }

    .box-title {
        margin-bottom: 23px;
    }
}


//---------------------------------------
.offer-grid {
    padding: 40px 30px 40px 30px;
    border-radius: 20px;
    background-position: top left;
    height: 100%;

    .box-subtitle {
        font-size: 18px;
        font-weight: 500;
        margin-top: -0.4em;
        margin-bottom: 20px;
        display: block;
    }

    .box-title {
        font-weight: 700;
        margin-bottom: 33px;
    }
}

//---------------------------------------
.offer-block {
    padding: 27px 40px 40px 40px;
    border-radius: 30px;
    background-color: $smoke-color2;

    .box-img {
        position: absolute;
        bottom: 0;
        right: 0;
        z-index: 2;

        @include sm {
            max-width: 55%;
        }
    }

    .box-subtitle {
        font-size: 14px;
        font-weight: 500;
        text-transform: uppercase;
        margin-top: -0.36em;
        margin-bottom: 16px;
        display: block;
        color: $theme-color;
    }

    .box-heading {
        display: block;
        font-family: $title-font;
        font-size: 20px;
        font-weight: 300;
        color: $theme-color;
        margin-bottom: 10px;
        margin-top: -0.4em;
    }

    .box-title {
        font-size: 36px;
        font-weight: 300;
        margin-bottom: 0;
        position: relative;
        z-index: 3;

        b {
            font-weight: 700;
        }
    }

    .box-text {
        margin-bottom: 22px;
        position: relative;
        z-index: 3;
    }

    .box-content {
        position: relative;
        padding: 35px;
        border: 5px solid $white-color;
        border-radius: 15px;
        box-sizing: border-box;

        &:after {
            content: '';
            position: absolute;
            right: -5px;
            bottom: -5px;
            height: 70%;
            width: 80%;
            border-bottom: 5px solid $border-color;
            border-right: 5px solid $border-color;
            border-radius: 0 0 15px 0;
        }
    }

    .box-shape {
        position: absolute;
        inset: 0;

        img {
            width: 100%;
            height: 100%;
        }
    }
}

@include xs {
    .offer-block {
        padding: 30px;
        border-radius: 20px;

        .box-img {
            max-width: 50%;
        }

        .box-subtitle {
            margin-bottom: 12px;
        }

        .box-content {
            padding: 15px;
            border: 3px solid $white-color;
        }
    }
}

@include vxs {
    .offer-block {
        padding: 25px;

        .box-title {
            font-size: 30px;
        }
    }
}

//---------------------------------------
.cta-box {
    padding: 40px;
    border-radius: 30px;
    background-position: top left;

    .box-content {
        max-width: 860px;
        padding: 48px 40px;
        border-radius: 20px 0 0 20px;
        border-top: 6px solid $white-color;
        border-left: 6px solid $white-color;
        position: relative;

        &:after {
            content: '';
            position: absolute;
            bottom: -6px;
            left: -6px;
            width: 35%;
            height: 50%;
            border-radius: 0 0 0 20px;
            border-bottom: 6px solid $white-color;
            border-left: inherit;
            pointer-events: none;
        }
    }

    .box-subtitle {
        font-family: $title-font;
        font-size: 20px;
        font-weight: 600;
        margin-top: -0.4em;
        margin-bottom: 25px;
        display: block;
        color: $theme-color;
    }

    .box-title {
        font-size: 44px;
        line-height: 54px;
        font-weight: 300;
        margin-bottom: 30px;

        b {
            font-weight: 600;
        }
    }
}

@include sm {
    .cta-box {
        padding: 20px;

        .box-content {
            padding: 20px;
        }

        .box-title {
            font-size: 40px;
            line-height: 50px;
        }
    }
}

@include xs {
    .cta-box {
        text-align: center;
        border-radius: 20px;

        .box-content {
            padding: 20px 0;
            border: none !important;

            &:after {
                display: none;
            }
        }

        .box-title {
            font-size: 32px;
            line-height: 42px;
        }
    }
}

@media (max-width: 360px) {
    .cta-box {
        .box-title {
            font-size: 28px;
        }
    }
}

.banner-title-area {
    .sec-title {
        font-size: 60px;
        line-height: 64px;
        letter-spacing: -1.2px;
        margin-bottom: 30px;

        @include xl {
            font-size: 50px;
        }

        @include md {
            font-size: 40px;
            line-height: 50px;
        }

        @include xs {
            font-size: 30px;
            line-height: 40px;
        }
    }

    .sec-text {
        font-size: 18px;
        color: $white-color;
        font-weight: 600;
        margin-bottom: 0;
    }
}